/app/utils/__pycache__
/.vscode
/app/data/dataset
/app/utils/normalisers
app/models/hill_climber/__pycache__
app/stats

Renderman/Builds/VisualStudio2022/x64
Renderman/Builds/VisualStudio2022/.vs/
app/utils/librenderman.pyd
app/__pycache__
Renderman/JuceLibraryCode
app/models/hill_climber/__pycache__/*
app/models/hill_climber/__pycache__/hill_climber.cpython-39.pyc
app/utils/utility_functions.pyc
app/utils/plugin_feature_extractor.pyc
app/venv
